@import "colorpalette";

$background-color: $grey-80;
$text-color: $white-100;
$text-hover-color: $white-80;
$dark-text-color: $white-60;
$primary-color: $grey-100;
$primary-shade: $grey-60;
$foreground-color: $white-60;


$on-background-color: $text-color;
$on-primary-color: $text-color;
$on-foreground-color: $grey-100;

$warning-color: #ddaa00;