

$grey-100: #21201d;
$grey-80: #32302f;
$grey-60: #505060;
$grey-40: #70707080;
$grey-20: #909090a0;
$grey-0: #e0e0f0;
$grey-off: #405040;


$white-100: #fefefe;
$white-80: #eeeeee;
$white-60: #aeaeae;
$white-40: #808080;
$white-20: #505050;
$white-off: #eaeaef;

$pap: #202e30;